

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 800px;
    
    color: azure;
}


.headerContainer{
    color: azure;
    flex: 70;
    width: 600px;
    padding-top: 40px;
    
}

.mainContainer{
    flex: 200;
    width: 600px;
}

h1{
    font-size: 4em;

}

ul {
    list-style-type: circle;
}

li{
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    background-color: black;
}