body {
    background-color: black;
    color: white;
  }

main {
    margin-left: 50px;
} 
  h1 {
    text-align: center;
    font-size: 4em;
  }

  ul {
    list-style-type: circle;
  }

  li {
    margin-bottom: 5px;
  }

  ul > li {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif;
    margin: 0px 0px 10px 20px;
  }
  ol {
    list-style-type: decimal;
  }
  ol > li {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;    
  }